log_level = "{{ nomad_log_level }}"
datacenter = "{{ nomad_datacenter }}"
data_dir = "/tmp/client"
name = "{{ inventory_hostname }}"

client {
  enabled = true
  network_interface = "{{ nomad_network_interface }}"
  servers = [
    {%- for server in groups[nomad_servers_host_group] -%}
    "{{ hostvars[server].ansible_host }}"{{ ", " if not loop.last }}
    {%- endfor -%}
  ]
}
