datacenter = "default"
data_dir = "/var/lib/nomad"
bind_addr = "{{ hostvars[inventory_hostname]['ansible_%s' | format(nomad_network_interface)][nomad_ip_version]['address'] }}"
name = "{{ ansible_hostname }}"

advertise {
  http = "{{ hostvars[inventory_hostname]['ansible_%s' | format(nomad_network_interface)][nomad_ip_version]['address'] }}"
  rpc = "{{ hostvars[inventory_hostname]['ansible_%s' | format(nomad_network_interface)][nomad_ip_version]['address'] }}"
  serf = "{{ hostvars[inventory_hostname]['ansible_%s' | format(nomad_network_interface)][nomad_ip_version]['address'] }}"
}

server {
  enabled = true
  bootstrap_expect = 1
}
